body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.property_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.property {
    padding: 15px;
}

.property img {
    border-radius: 10px ;
}

.property h2 {
    margin: 0 0 10px;
}

.property p {
    font-size: 18px;
    margin: 5px 0;
}

.property .price {
    font-size: 22px;
    font-weight: bold;
}

.property a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #004daa;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;    
    transition: background-color 0.3s ease;
}
